<div class="app">
    <app-panel>
        Live Cover Scene
    </app-panel>
    <app-panel>
        <router-outlet></router-outlet>

        <div class="footer clearfix">
            <div class="footer-section">
                <p class="copyright-section float-left no-buffer small">
                    &copy; {{copyrightYear}}<br />
                    Emoji by <a href="http://emojione.com/" target="_blank">EmojiOne</a><br />
                    Powered by <a href="https://darksky.net/poweredby/" target="_blank">Dark Sky</a>
                </p>
            </div>
            <div class="footer-section">
                <h4 class="twitter-section float-right">
                    <a href="https://twitter.com/thalidanoel" target="_blank">
                        <span class="emoji emoji-raised-hands"></span> @thalidanoel
                    </a>
                </h4>
            </div>
        </div>
    </app-panel>
</div>
