<div class="app">
    <app-panel></app-panel>
    <app-panel>
        <div class="section live-section bg-yellow">
            <h2>
                <app-highlight
                    tooltipText="The scene displayed to the right (or above) is based on your the current time and weather conditions for your area."
                    tooltipPosition="after">
                    Live-ish
                </app-highlight> Scene
            </h2>
            <span class="micro">Last Updated: {{lastUpdated}}</span>
            <div class="main-view-section-data">
                <!-- <p class="normal">
                    <span class="small">
                        <app-highlight
                            tooltipText="Total visits is fairly inaccurate since it's tracked using local storage, which means it's only for this browser and computer combo."
                            tooltipPosition="after">
                            Total Visits:
                        </app-highlight>
                    </span>
                    {{totalVisits}}
                </p> -->
                <!-- <p class="normal">
                    <span class="small">
                        <app-highlight
                            text="Time Group:"
                            tooltipText="I split the day into chuncks, and based on your current time I determine your Time Group."
                            tooltipPosition="after">
                        </app-highlight>
                    </span>
                    {{currFancyTime.data.label}}
                </p>
                <p class="normal">
                    <span class="small">
                        <app-highlight
                            text="Time Gradient:"
                            tooltipText="The colors used for the gradient animation on the scene, these colors are based on your current Time Group."
                            tooltipPosition="after">
                        </app-highlight>
                    </span>
                    <span class="color-code" ng-repeat="item in main.currFancyTime.range track by $index">
                        <span class="swatch" ng-style="{'background': item.color}"></span>
                        {{item.color}}
                    </span>
                </p>
                <p class="normal">
                    <span class="small">
                        <app-highlight
                            text="Weather:"
                            tooltipText="If you know, you wanna use my site as your defacto weather.com. It’s kinda cool, and I made some wicked low poly weather graphics."
                            tooltipPosition="after">
                        </app-highlight>
                    </span>

                    <span ng-show="main.currFancyWeather.summary">
                        {{currFancyWeather.temperature}}° and {{currFancyWeather.summary}}
                    </span>

                    <span class="bold"
                         ng-hide="main.currFancyWeather.summary.length > 0"
                         ng-switch on="main.geolocation.statusType">
                        <span ng-switch-when="error-location">{{geolocation.statusText}}</span>
                        <span ng-switch-when="success-location">{{geolocation.statusText}}</span>
                        <span ng-switch-when="loading-location">Locating&hellip;</span>
                        <span ng-switch-when="loading-weather">Getting weather&hellip;</span>
                    </span>
                </p> -->
            </div>
        </div>

        <div class="section intro-section">
            <div class="section-header">
                <h2>Introudction</h2>
            </div>
            <div class="section-body">
                <p class="normal">
                    I’m a
                    <app-highlight
                        tooltipText="An umbrella term for gender and sexual minorities, that are not heterosexual or not cisgender."
                        tooltipPosition="below">
                        queer
                    </app-highlight>
                    Trinidadian
                    <app-highlight
                        tooltipText="A person whose self-identity conforms with the gender that corresponds to their biological sex.">
                        cisgender
                    </app-highlight>
                    woman of color.
                    I work as a Senior Frontend Engineer in New York,
                    and I’ve been active in the engineering world for over 6 years.
                </p>
                <p class="normal">
                    I was lucky enough to have a supportive mother, who got me
                    thalida.com for my 16<sup>th</sup> birthday. It was one of
                    the best gifts I’ve ever received, and is the reason I've
                    become the developer I am today.
                </p>
                <p class="normal">
                    I now work with a great group of engineers at Kinnek
                    (<a href="https://kinnek.com/careers" target="_blank">we’re hiring!</a>)
                    during the day, and in the wee hours of the night I hack away
                    at one of my many side projects. I'm always looking for a
                    coding buddy, so if you're interested, get in touch!
                    <a href="mailto:hello@thalida.com?subject=Hello%20Thalida!">hello@thalida.com</a>
                </p>
                <p class="normal">
                    I’m generally full of questions, and
                    <app-highlight
                        tooltipText="One of the greatest drinks ever invented. Period.">
                        bubble tea.
                    </app-highlight>
                </p>
            </div>
        </div>

        <div class="section graphic-section">
            <div class="graphic graphic-coding"></div>
            <p class="caption no-buffer">
                #WOCinTech Chat stock photo | Look, ma my hands!
            </p>
        </div>

        <div class="section projects-section">
            <div class="section-header">
                <h2>Projects</h2>
            </div>
            <div class="section-body">
                <div class="project" *ngFor="let project of visibleProjects">
                    <div class="clearfix">
                        <a  class="project-title float-left"
                            [href]="project.link"
                            target="_blank">
                            <h3 class="ellipsis"
                                [innerHTML]="project.title"></h3>
                        </a>
                        <div class="project-icons float-right">
                            <a  class="project-icon"
                                *ngIf="project.github"
                                [href]="project.github"
                                target="_blank">
                                <span class="icon icon-github-blue"></span>
                            </a>
                            <a  class="project-icon"
                                *ngIf="project.dribbble"
                                [href]="project.dribbble"
                                target="_blank">
                                <span class="icon icon-dribbble-blue"></span>
                            </a>
                        </div>
                    </div>
                    <p  class="normal no-buffer"
                        [innerHTML]="project.shortDescription">
                    </p>
                </div>
            </div>
        </div>

        <div class="section featured-section bg-yellow" *ngIf="featuredProject">
            <h2>Featured Project: {{featuredProject.title}}</h2>
            <div class="main-view-section-data">
                <p class="normal"
                   *ngFor="let paragraph of featuredProject.longDescription"
                   [innerHTML]="paragraph">
                </p>
            </div>
        </div>

        <div class="section graphic-section">
            <div class="graphic graphic-standing"></div>
            <p class="caption no-buffer">
                #WOCinTech Chat stock photo | Me, posing for the gods.
            </p>
        </div>

        <div class="section extras-section">
            <div class="section-header">
                <h2>In the Wild</h2>
            </div>
            <div class="section-body">
                <div *ngFor="let extra of extras">
                    <a [href]="extra.link" target="_blank">
                        <h3 [innerHTML]="extra.title"></h3>
                    </a>
                    <p class="normal no-buffer">
                        {{extra.shortDescription}}
                    </p>
                </div>
            </div>
        </div>

        <div class="section jobs-section bg-gray">
            <div class="section-header">
                <h2>Work History</h2>
            </div>
            <div class="section-body">
                <div *ngFor="let job of jobs">
                    <h3>
                        {{ job.company }}
                        <span class="job-date">{{ job.start }} - {{ job.end }}</span>
                    </h3>
                    <p class="normal no-buffer">
                        {{job.title}}
                    </p>
                </div>
            </div>
        </div>

        <div class="footer clearfix">
            <div class="footer-section">
                <p class="copyright-section float-left no-buffer small">
                    &copy; {{copyrightYear}}<br />
                    Emoji by <a href="http://emojione.com/" target="_blank">EmojiOne</a><br />
                    Powered by <a href="https://darksky.net/poweredby/" target="_blank">Dark Sky</a>
                </p>
            </div>
            <div class="footer-section">
                <h4 class="twitter-section float-right">
                    <a href="https://twitter.com/thalidanoel" target="_blank">
                        <span class="emoji emoji-raised-hands"></span> @thalidanoel
                    </a>
                </h4>
            </div>
        </div>
    </app-panel>
</div>
