<div class="app">
    <app-panel></app-panel>
    <app-panel>
        <div class="section intro-section">
            <div class="section-header">
                <h2>Introudction</h2>
            </div>
            <div class="section-body">
                <p class="normal">
                    I’m a
                    <app-highlight
                        tooltipText="An umbrella term for gender and sexual minorities, that are not heterosexual or not cisgender."
                        tooltipPosition="below">
                        queer
                    </app-highlight>
                    Trinidadian
                    <app-highlight
                        tooltipText="A person whose self-identity conforms with the gender that corresponds to their biological sex.">
                        cisgender
                    </app-highlight>
                    woman of color.
                    I work as a Senior Frontend Engineer in New York,
                    and I’ve been active in the engineering world for over 6 years.
                </p>
                <p class="normal">
                    I was lucky enough to have a supportive mother, who got me
                    thalida.com for my 16<sup>th</sup> birthday. It was one of
                    the best gifts I’ve ever received, and is the reason I've
                    become the developer I am today.
                </p>
                <p class="normal">
                    I now work with a great group of engineers at Kinnek
                    (<a href="https://kinnek.com/careers" target="_blank">we’re hiring!</a>)
                    during the day, and in the wee hours of the night I hack away
                    at one of my many side projects. I'm always looking for a
                    coding buddy, so if you're interested, get in touch!
                    <a href="mailto:hello@thalida.com?subject=Hello%20Thalida!">hello@thalida.com</a>
                </p>
                <p class="normal">
                    I’m generally full of questions, and
                    <app-highlight
                        tooltipText="One of the greatest drinks ever invented. Period.">
                        bubble tea.
                    </app-highlight>
                </p>
            </div>
        </div>
    </app-panel>
</div>
