@import '../../styles/colors';
@import '../../styles/animations';

.highlight {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;

    display: inline-block;
    position: relative;
    margin: 0px 1px;

    font-weight: 700;

    -webkit-transition: all 500ms;
    transition: all 500ms;

    // Hack force css to repaint when page shifts
    // Fixes bug where :after wasn't moving with the content
    transform: translateZ(0);

    &:after {
        content: "";
        display: block;
        position: absolute;
        width: 90%;
        height: 8px;
        top: 55%;
        left: 10%;
        z-index: -1;

        -webkit-transition: all 500ms;
        transition: all 500ms;

        background-color: $yellow-1;
    }

    &:hover {
        &:after {
            position: absolute;
            top: 40%;
            left: 0;
            width: 100%;

            background-color: $teal-1;
        }
    }

    :host-context(.bg-yellow) & {
        &:after {
            background-color: $teal-1;
        }

        &:hover:after {
            background-color: $purple-2;
        }
    }
}
